[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = build&integration
[access "refs/*"]
	owner = group user/Mohan (momojeeja)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohan (momojeeja)
	label-Verified = -1..+1 group user/Mohan (momojeeja)
	push = group user/Mohan (momojeeja)
	read = group user/Mohan (momojeeja)
	rebase = group user/Mohan (momojeeja)
	removeReviewer = group user/Mohan (momojeeja)
	submit = group user/Mohan (momojeeja)
[access "refs/heads/*"]
	create = group user/Mohan (momojeeja)
	push = +force group user/Mohan (momojeeja)
	pushMerge = group user/Mohan (momojeeja)
	read = group user/Mohan (momojeeja)
[access "refs/tags/*"]
	push = group user/Mohan (momojeeja)
	push = +force group user/Mohan (momojeeja)
