[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = build&integration
[access "refs/*"]
	owner = group user/momojeeja
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/momojeeja
	label-Verified = -1..+1 group user/momojeeja
	push = group user/momojeeja
	read = group user/momojeeja
	rebase = group user/momojeeja
	removeReviewer = group user/momojeeja
	submit = group user/momojeeja
[access "refs/heads/*"]
	create = group user/momojeeja
	push = +force group user/momojeeja
	pushMerge = group user/momojeeja
	read = group user/momojeeja
[access "refs/tags/*"]
	push = group user/momojeeja
	push = +force group user/momojeeja
